In [11]:
columns = ['region','platform']
query_col = ['region']
select_str = ''
group_str = ''
for col in columns:
    if col in query_col:
        select_str += ','+ col + ' as ' + col
        group_str += ',' + col
    else:
        select_str += ', "all" as ' + col
sql = 'select date' + select_str + ', sum(snaps) as snaps from activities group by date' + group_str
print sql

select date,region as region, "all" as platform, sum(snaps) as snaps from activities group by date,region

In [57]:
pd.DataFrame?

In [60]:
import pandas as pd
import numpy as np
df = pd.DataFrame([(0,1,2),(3,4,5)], columns = ['a','b','c'], index = ['001','002'])
df

     a  b  c
001  0  1  2
002  3  4  5

In [46]:
df.dropna?

In [53]:
df1=df.dropna()

In [54]:
df1

   Feb  Jan  Mar   account
1  210  200  215  Alpha Co
2   90   50   95  Blue Inc